<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<suite name="Suite">
    <test name = "FrameworkTest">
        <classes>
            <class name="org.ga4gh.ComplianceFramework.RequestsRestAssuredTest"/>
            <class name="org.ga4gh.ComplianceFramework.ServerTest"/>
            <class name="org.ga4gh.ComplianceFramework.TestingFrameworkTest"/>
        </classes>
    </test>
</suite>
